.view-container {
  background-color: blueviolet;
  width: 17rem;
  margin: 0.7rem 0 0 0.5rem;
  border-radius: 8px;
}

.view-content {
  border-bottom: 1px solid grey;
  padding: 0.5rem 0;
}

.view-open,
.view-open-view,
.view-appearance,
.view-explore,
.view-problem,
.view-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 2rem;
  font-size: 14.5px;
}
