.search {
  background-color: aqua;
  /* background-color: red; */
  width: 19rem;
  height: 39.3rem;
  margin: -6.1rem 0 0 2rem;
  border: 1px solid grey;
}

.search-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 1rem;
}
