.run-container {
  background-color: blueviolet;
  width: 20rem;
  margin: 0.7rem 0 0 0.5rem;
  border-radius: 8px;
}

.run-content {
  border-bottom: 1px solid grey;
  padding: 0.5rem 0;
}

.run-debugging,
.run-config,
.run-step,
.run-toggle,
.run-breakpoints,
.run-additional {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 2rem;
  font-size: 14.5px;
}
