.sidebar {
  width: 80rem;
  height: 39.3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sidebar-container {
  width: 3rem;
  height: 38.29rem;
  padding: 1rem 0 0 0;
  background-color: aqua;
  display: flex;
  flex-direction: column;
  gap: 15rem;
  border-right: 1px solid grey;
}

.sidebar-operations {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0 0 0 1rem;
  cursor: pointer;
}

.sidebar-account {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0 0 0 1rem;
}

.open-explorer {
  height: 1.3rem;
}
