.help-container {
  background-color: blueviolet;
  width: 23rem;
  margin: 0.7rem 0 0 0.5rem;
  border-radius: 8px;
}

.help-content {
  border-bottom: 1px solid grey;
  padding: 0.5rem 0;
}

.help-reference,
.help-show,
.help-join,
.help-view,
.help-toggle,
.help-check {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 2rem;
  font-size: 14.5px;
}
